body{
    background-color: #ccc;
}
div{
    width: 600px;
    background-color: #ddd;
}
nav{
    background-color: #333;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 10px 0;;
    width: 80px;
    text-align: center;
    background-color: #444;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li:hover{
    background-color: #333;
}